    
<ion-view view-title="{{currentModule.module_title}}">
  <ion-content class="padding">
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="item in container" type="item-text-wrap" href="#/tab/chapter/{{currentModule.id}}/video/{{item.id}}">
        <img ng-src="{{logo}}">
        <h2>{{item.video_description}}</h2>
        <p>Part {{item.video_part}} / {{container.length}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        
      </ion-item>
    </ion-list>

    
    
  </ion-content>
</ion-view>