    
<ion-view view-title="{{categorie.name}}">
  <ion-content class="padding">
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="item in categorie.subCategories" type="item-text-wrap" href="#/tab/chapter/{{categorie.id}}/video/{{item.id}}">
        <img ng-src="{{item.face}}">
        <h2>{{item.name}}</h2>
        <p>{{item.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        
      </ion-item>
    </ion-list>
    
  </ion-content>
</ion-view>